<footer class="lg-landing-copy">
	<div class="section-wrap">
		<div class="socials-footer">
			<span class="connect">Связаться: </span>
			<a target="_blank" href="http://www.facebook.com/LGRussia" data-sc-item="social-sharing" data-sc-value="facebook"><img src="/ru/images/SNS/sns_facebook_copy.png" alt="Facebook" title="Открывается в новом окне"></a>
			<a target="_blank" href="http://vk.com/lgrussia" data-sc-item="social-sharing" data-sc-value="vk"><img src="/ru/images/SNS/sns_vk_copy.png" alt="vk" title="Открывается в новом окне"></a>
			<a target="_blank" href="https://www.instagram.com/lg_rus/" data-sc-item="social-sharing" data-sc-value="instagram"><img src="/ru/images/SNS/insta_64-min.png" alt="instagram" title="Открывается в новом окне"></a>
			<a target="_blank" href="http://odnoklassniki.ru/LGRussia" data-sc-item="social-sharing" data-sc-value="odok"><img src="/ru/images/SNS/sns_odnok_copy.png" alt="Odok" title="Открывается в новом окне"></a>
			<a target="_blank" href="http://youtube.com/lgrussia" data-sc-item="social-sharing" data-sc-value="youtube"><img src="/ru/images/SNS/sns_youtube_copy.png" alt="Youtube" title="Открывается в новом окне"></a>
		</div>
		<span class="lg-landing-copy-text">Copyright © 2018 LG Electronics. Все права защищены.</span>
	</div>
</footer>