$left: 30%;
* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
sup {
  font-size: 0.7em;
}
b {
  font-weight: bold;
}
.mob {
  display: none !important;
}
.owl-next.disabled,
.owl-prev.disabled,
.owl-nav.disabled,
.owl-dots.disabled {
  display: none;
}

.button {
  display: inline-block;
  color: #FFF;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: #a50034;
  border: 1px solid #a50034;
  
  text-align: center;
  font-size: 24px;
  padding: 10px 36px;
  // font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
      -ms-transition: 0.4s;
       -o-transition: 0.4s;
          transition: 0.4s;
  cursor: pointer;
  
  &.disabled {
    cursor: default;
    background: #CCC;
    border-color: #CCC;
    &:active,
    &:hover {
      background: #CCC;
      border-color: #CCC;
    }
  }
  &:hover {
    text-decoration: none;
    background:#e10b4b;
    border: 1px solid #e10b4b;
    color: #fff;
  }
  &:active {
    text-decoration: none;
    background:#d7104b;
    border: 1px solid #d7104b;
    color: #fff;
  }
}
